<div  class="flex flex-col w-1/3">
    <h1 class="text-white">hey - {{this.model}}</h1>
    <div class="flex flex-col items-center justify-center my-3">
        <img class="h-10" src="/assets/zoho_logo.png" alt="">
    </div>
        <div class="flex my-3 pl-2">
            {{#if this.authModeToggle.signup}}
            <h1 class="text-2xl text-gray-200">Register now</h1>
            {{/if}}
            {{#if this.authModeToggle.login}}
            <h1 class="text-2xl text-gray-200">Login</h1>
            {{/if}}
        </div>

        <Input class="auth-fields" placeholder="username or email"></Input>
        <Input class="auth-fields" placeholder="password"></Input>
        <div  class="flex transition transform overflow-hidden duration-300 {{if this.authModeToggle.login "h-0" "translate-y-2"}}">
            <Input  class="auth-fields w-full transition transform overflow-hidden duration-100 {{if this.authModeToggle.login "scale-0" "scale-100"}}" placeholder="confirm password"></Input>
        </div>


        <div class="flex justify-center">
        <button class="pl-3.5 text-gray-200 mt-10 shadow-md rounded-full transform transition duration-100 hover:font-bold hover:scale-110 focus:outline-none bg-cliq-body-dark h-12 w-12">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
        </button>
        </div>

        <div class="flex justify-center my-3">
            {{#if this.authModeToggle.signup}}
            <h1 class="text-sm text-gray-400">Already a member! try <i {{ on 'click' this.authModeToggle.loginMode}} class="font-semibold cursor-pointer">login</i></h1>
            {{/if}}
            {{#if this.authModeToggle.login}}
            <h1 class="text-sm text-gray-400">New user ? <i {{ on 'click' this.authModeToggle.signupMode}} class="font-semibold cursor-pointer">sign up</i></h1>
            {{/if}}                        
        </div>
</div>